body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(204,255,255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1, h2 {
    color: rgb(0, 204, 204);
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .search-input-container {
    display: flex;
  }
  
  input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #e9eae9;
    color: #0e0202;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold; /* Adiciona negrito aos botões */
  }
  
  button:hover {
    background-color: #e9eae9;
  }
  
  .symptoms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .symptom-input {
    margin-bottom: 15px;
  }

  /* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#allergyButton {
  display: block;
  margin: 20px auto; /* Centralizar o botão na tela */
  padding: 46px; /* Ajustar o tamanho do botão */
  font-weight: bold;
  background-color: #dde2e6; /* Cor de fundo */
  color: #120f0f; /* Cor do texto */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Adicionar transição de cor de fundo ao passar o mouse */

}
  
  
  